<paginate>
    {% if pagination.pageLinks.length > 1 %}
        <ul class="paginate">
          {% if pagination.previousPageLink %}
            <li><a href="{{ pagination.previousPageHref }}">&lt; Previous</a></li>
            {% else %}<li>&nbsp;</li>
          {% endif %}
          {% if pagination.nextPageLink %}
            <li><a href="{{ pagination.nextPageHref }}">Next &gt;</a></li>
            {% else %}<li>&nbsp;</li>
          {% endif %}
         </ul>
    {% endif %}
</paginate>