---
title: Blog article
description: Description of a blog article
tags: post
date: Created
luogo: Posted
type: article
---
<!DOCTYPE html>
<html lang="en">
{% include "head-article.njk" %}
<!-- Start Body -->
<body>
    {% include "nav.njk" %}
    <article>
        <small class="info">
            {{ luogo }}&nbsp;
            <time datetime="{{page.date}}">{{page.date | readableDate}}</time>&nbsp;&ndash;&nbsp;
            {{content | readingTime}}&nbsp;to&nbsp;read
        </small>
        <h1>{{ title }}</h1>
        {{content | safe}}
    </article>
    {% include "footer.njk" %}
</body>
<!-- End Body -->
</html>
