---
title: Generic page
description: Is it a page like many others?
keyword: test
type: website
---
<!DOCTYPE html>
<html lang="en">
{% include "head-website.njk" %}
<!-- Start Body -->
<body>
    {% include "nav.njk" %}
    <main data-pagefind-body>
        {{content | safe}}
    </main>
    {% include "footer.njk" %}
</body>
<!-- End Body -->
</html>
