---
title: Generic page
description: Is it a page like many others?
keyword: test
type: website
---
<!DOCTYPE html>
<html lang="en">
{% include "head-website.njk" %}
<!-- Pagefind -->
<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>
<div id="search"></div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search", showSubResults: true });
    });
</script>
<!-- Start Body -->
<body>
    {% include "nav.njk" %}
    <main data-pagefind-body>
        {{content | safe}}
    </main>
    {% include "footer.njk" %}
</body>
<!-- End Body -->
</html>
