---
title: Home page
description: Index page for the website
keyword: home
type: website
---
<!DOCTYPE html>
<html lang="en">
  {% include "head-website.liquid" %}
  <!-- Start Body -->
  <body>
    {% include "nav.liquid" %}
    <main data-pagefind-body>
      <div class="content">
        {{ content }}
      </div>
  {%- assign latestPost = posts | first -%}
{%- if latestPost -%}
  <div class="latest-post">
    <h3>Latest Post</h3>
  <a href="{{ latestPost.url }}">{{ latestPost.data.title }}</a>
  </div>
{%- endif -%}
    </main>
    {% include "footer.liquid" %}
  </body>
<!-- End Body -->
</html>