---
title: Home page
description: Index page for the website
keyword: home
type: website
---
<!DOCTYPE html>
<html lang="en">
  {% include "head-website.liquid" %}
  <!-- Start Body -->
  <body>
    {% include "nav.liquid" %}
    <main data-pagefind-body>
      <div class="content">
        {{ content }}
      </div>
  {%- assign latestPost = posts | first -%}
{%- if latestPost -%}
  <div class="latest-post">
    <h3>Latest Post</h3>
  <a href="{{ post.url }}">{{ post.data.title }}</a>
  </div>
{%- endif -%}
<div class="badge-attention">
  <wa-badge variant="brand" attention="pulse" pill>1</wa-badge>
  <wa-badge variant="success" attention="pulse" pill>1</wa-badge>
  <wa-badge variant="neutral" attention="pulse" pill>1</wa-badge>
  <wa-badge variant="warning" attention="pulse" pill>1</wa-badge>
  <wa-badge variant="danger" attention="pulse" pill>1</wa-badge>
</div>
    </main>
    {% include "footer.liquid" %}
  </body>
<!-- End Body -->
</html>