---
title: Message sent
layout: page.njk
permalink: /success.html
keyword: message-sent
eleventyExcludeFromCollections: true
dynamicPermalink: false
---

<h1>Message successfully sent</h1>
<p>
    <span class="lead">{{title}}</span></br>
    I'll get back in touch in a bit so head back to the <a href="{{'/' | url}}">Home page.</a>
</p>