---
title: Your message is sent
layout: page.njk
permalink: /success.html
keyword: contact-success
eleventyExcludeFromCollections: true
dynamicPermalink: false
---

<h1>Message sent successfully!</h1>
<p>
    <span class="lead">{{title}}</span></br>
   I'll get in touch at some point so back to <a href="{{'/' | url}}">Home page.</a>
</p>