---
title: "Message sent"
layout: "page.liquid"
permalink: "/success.html"
keyword: "message-sent"
eleventyExcludeFromCollections: true
dynamicPermalink: false
---

<h1>Message sent successfully</h1>
<p>
    I'll get back in touch in a bit so head back to the <a href="{{ '/' | url }}">Home page.</a>
</p>