---
title: "Nothing to see here!"
layout: "page.liquid"
permalink: "/404.html"
keyword: "error 404"
eleventyExcludeFromCollections: true
dynamicPermalink: false
---

<h1>404 error</h1>
<p>
    <span class="lead">{{ title }}</span></br>
    Move along to the <a href="{{ '/' | url }}">homepage.</a>
</p>